.o-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.o-column--50 {
  padding: $spacing-large;
  max-width: rem(600px);
  flex-grow: 1;
}

.o-column--33 {
  display: block;
  padding: $spacing-large;
  flex-grow: 1;
}

.o-content {
  padding-left: $spacing-large;
  padding-right: $spacing-large;
}

.o-hero {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}