.o-main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.o-underline {
  border-bottom: 1px rgb(221, 221, 221) dotted;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  padding-bottom: 0.1em;
}
