.o-nav__mobile {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: $spacing-small;

  @media #{$medium-up} {
    display: none;
  }

  img {
    width: rem(35px);
    height: rem(35px);
  }
}

.o-nav__desktop {
  display: none;

  @media #{$medium-up} {
    display: flex;
  }

  grid-area: navigation;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  // Nav Icon
  .menu-icon {
    cursor: pointer;
    user-select: none;
    display: none;
  }

  // Nav Items
  .o-nav__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    transition: max-height 0.2s ease-out;

    li {
      list-style: none;
      padding: $spacing-small;
      justify-content: center;

      a:not(.c-button) {
        text-decoration: none;
        color: $color-secondary;
      }
    }
  }
}
