.o-nav__mobile {
  align-items: center;
  display: flex;
  justify-content: right;

  @media #{$medium-up} {
    display: none;
  }
}

.o-nav__desktop {
  display: none;

  @media #{$medium-up} {
    display: flex;
  }

  flex-direction: column;
  flex-grow: 1;
  grid-area: navigation;
  height: 100%;
  justify-content: center;

  // Nav Icon
  .menu-icon {
    cursor: pointer;
    display: none;
    user-select: none;
  }

  // Nav Items
  .o-nav__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 2em;
    transition: max-height 0.2s ease-out;

    li {
      justify-content: center;
      list-style: none;
      padding: $spacing-small;

      a:not(.c-button) {
        color: $color-secondary;
        text-decoration: none;
      }
    }
  }
}
