@mixin clearfix {
  &::after {
    clear: both;
    content: "";
  }
}

@mixin full-to-half {
  width: 100%;

  @media #{$medium-up} {
    margin: 0 auto;
    width: 45%;
  }
}

@mixin full-to-third {
  width: 100%;

  @media #{$medium-up} {
    margin: 0 auto;
    width: 32%;
  }
}

@mixin full-to-fourths {
  width: 100%;

  @media #{$medium-up} {
    margin: 0 auto;
    min-width: none;
    width: 23%;
  }
}

// Normalizes all lists that include this
@mixin clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Display as flex row that wraps (used for section ul)
@mixin flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
