%hover--animate {
  box-shadow: 0 5px 8px 0 rgba(34, 34, 34, 0.25);
}

.c-button,
%c-button {
  border-radius: 3px;
  border: none;
  box-shadow: $color-double-shadow;
  margin-top: auto;
  padding: $spacing-medium $spacing-large $spacing-small;
  text-decoration: none;
  transition: all 0.3s ease-out;
  user-select: none;
  white-space: nowrap;

  &--primary {
    @extend %c-button;

    color: $color-white;
    background: $color-primary;

    &:hover {
      @extend %hover--animate;

      background: $color-primary-hover;
    }
  }

  &--secondary {
    color: $color-white;
    background: $color-secondary;

    &:hover {
      @extend %hover--animate;

      background: $color-secondary-hover;
    }
  }

  &--tertiary {
    color: $color-secondary;
    background: $color-white;

    &:hover {
      background: $color-secondary-hover;
      color: white;
    }
  }

  &--narrow {
    padding: $spacing-xx-small $spacing-small;
    padding-top: $spacing-x-small;
  }
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;

  & + .c-button--radio {
    margin: $spacing-x-small;
  }

  &:checked + .c-button--radio {
    color: white;
    background: $color-secondary;
  }
}
