.c-location {
  img {
    width: 100%;
  }
}

// Main page feature sections
.c-feature {
  @include clean-list;

  padding-bottom: $spacing-xx-large;
}

.c-feature__header {
  text-align: center;
}

// ul level
.c-feature__list {
  @include clean-list;
  @include flex-row-wrap;
}

.c-feature__item {
  @include full-to-half;

  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &--third {
    @include full-to-third;
  }
}

.c-feature__image {
  width: 100%;
}

.c-feature__link {
  @extend .c-button--primary;

  align-self: flex-start;
}
