$headerHeight: rem(90px);

.o-header {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-areas: "logo navigation";
  padding: 0 $spacing-medium;
  height: $headerHeight;

  .c-brand-logo {
    grid-area: logo;
    display: flex;

    img {
      height: $headerHeight;
    }
  }

  .o-navigation {
    grid-area: navigation;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    // Nav Icon
    .menu-icon {
      cursor: pointer;
      user-select: none;
      display: none;
    }

    // Nav Items
    .o-nav__items {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0;
      transition: max-height 0.2s ease-out;

      li {
        list-style: none;
        padding: $spacing-small;
        justify-content: center;

        a {
          text-decoration: none;
          color: $color-secondary;
        }

        *.sign-in {
          color: red;
        }

        *.sign-up {
          color: blue;
        }
      }
    }
  }
}