$headerHeight: rem(90px);

.c-header {
  display: grid;
  vertical-align: center;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-areas: "logo navigation";
  padding: 0 $spacing-medium;
  height: $headerHeight;

  .c-brand-logo {
    grid-area: logo;
    display: flex;

    img {
      height: $headerHeight;
    }
  }
}

.c-booking__header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.brand {
  width: 2rem;
  height: 2rem;
}
