$headerHeight: rem(90px);

.c-header {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-areas: "logo navigation";
  height: $headerHeight;
  width: 100%;
}

.c-brand-logo {
  grid-area: logo;
  display: flex;

  img {
    height: $headerHeight;
  }
}

.c-booking__header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.brand {
  width: 2rem;
  height: 2rem;
}
